.contact {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  color: black;
  font-family: 'NanumSquare';
}
.contact .box1 {
  width: 100%;
  height: 80px;
}
.contact .box2 {
  width: 100%;
  margin-bottom: 50px;
}
.contact .wrap {
  width: 1000px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
}
.contact .content {
  left: 0;
  right: 0;
  margin: auto;
  width: 480px;
}
.contact .wrap .left {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  box-shadow: 5px 5px 5px #c9c9c9;
}
.contact .wrap .left img {
  width: 700px;
}
.contact .wrap .right {
  width: 380px;
  padding-top: 20px;
}
.contact .wrap .right .title img {
  margin-left: 15px;
  width: 250px;
}
.contact .wrap .right .textbox {
  height: 350px;
}

.contact .notice_wrap {
  width: 100%;
  font-size: 22px;
}
.contact .notice {
  margin-top: 25px;
  width: 450px;
  padding-left: 20px;
}
.contact .notice_name {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 700;
  margin-bottom: 5px;
}
.contact .notice_text {
  height: 50px;
  display: flex;
  justify-content: left;
  line-height: 30px;
}
.contact .box2 .right .notice .seven {
  font-size: 16px;
}
.contact .box2 .right .notice .notice_text img {
  width: 25px;
  height: 25px;
  display: inline;
}
.contact .box2 .right .notice .tel {
  font-size: 25px;
  font-weight: 600;
}

.contact .button_wrap {
  width: 100%;
  height: 50px;
  display: flex;
}
.contact .button_wrap a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.contact .button {
  left: 0;
  right: 0;
  margin: auto;
  width: 170px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .button.btn1,
.contact .button.btn2 {
  background-color: rgb(231, 231, 231);
}
.contact .button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.contact .button img {
  width: 30px;
  margin-right: 10px;
}
.contact .button span {
  width: 80px;
  height: 30px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}

@media screen and (max-width : 1200px){
  .contact {
    width: 90%;
    height: fit-content;
  }
  .contact .box2 {
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
  }
  .contact .wrap {
    display: block;
    width: 100%;
  }
  .contact .content {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 50px;
  }
  .contact .content_image {

  }

  .contact .wrap .left {
    width: 700px;
  }
  .contact .wrap .left img {
    width: 600px;
  }
}

@media screen and (max-width : 768px){
  .contact {
    width: 100%;
  }
  .contact .box1 {
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 80px;
  }
  .contact .box2 {
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: fit-content;
    margin-bottom: 200px;
  }
  .contact .wrap .left {
    width: 100%;
  }
  .contact .wrap .left img {
    width: 90%;
  }
  .contact .wrap .right {
    width: 100%;
  }
  .contact .button {
    width: 140px;
  }

  .contact .button_wrap {
    justify-content: center;
  }
  .contact .notice_wrap {
    margin-left: 20px;
  }
  .contact .notice_text {
    width: 300px;
    line-height: 30px;
  }
}