.contact {
  width: 100%;
}
.contact_box1 {
  width: 100%;
  height: 80px;
}
.contact_box2 {
  width: 100%;
  margin-bottom: 50px;
}
.contact_map_wrap {
  width: 1000px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
}
.contact_map_content {
  left: 0;
  right: 0;
  margin: auto;
  width: 480px;
}
.contact_map_wrap .content_left {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  box-shadow: 5px 5px 5px #c9c9c9;
}
.contact_map_wrap .content_left img {
  width: 650px;
}
.contact_map_wrap .content_right {
  width: 380px;
}
.contact_map_button_wrap {
  width: 100%;
  height: 50px;
  display: flex;
}
.contact_map_button_wrap a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.contact_map_button {
  left: 0;
  right: 0;
  margin: auto;
  width: 170px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_map_button.btn1 {
  background-color: rgb(250, 250, 17);
}
.contact_map_button.btn2 {
  background-color: rgb(3, 251, 36);
}
.contact_map_button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.contact_map_button img {
  width: 30px;
  margin-right: 10px;
}
.contact_map_button span {
  width: 80px;
  height: 30px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.contact_map_notice_wrap {
  width: 100%;
  height: 360PX;
  font-size: 22px;
}
.contact_map_notice {
  margin-top: 25px;
  width: 450px;
  height: 70px;
  padding-left: 20px;
}
.contact_map_notice_name {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 700;
  margin-bottom: 5px;
}
.contact_map_notice_text {
  height: 50%;
  display: flex;
  justify-content: left;
}

@media screen and (max-width : 1000px){
  .contact {
    width: 90%;
  }
  .contact_box2 {
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
  }
  .contact_map_wrap {
    display: block;
    width: 100%;
  }
  .contact_map_content {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 50px;
  }
  .contact_map_content_image {

  }
}

@media screen and (max-width : 768px){
  .contact {
    width: 100%;
  }
  .contact_box1 {
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 80px;
  }
  .contact_box2 {
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
  }
  .contact_map_wrap .content_left {
    width: 100%;
  }
  .contact_map_wrap .content_left img {
    width: 400px;
  }
  .contact_map_wrap .content_right {
    width: 100%;
  }
  .contact_map_button {
    width: 140px;
  }
  .contact_map_content_image {
    width: 90%;
  }
  .contact_map_button_wrap {
    justify-content: center;
  }
  .contact_map_notice_wrap {
    margin-left: 20px;
  }
  .contact_map_notice_text {
    width: 300px;
    line-height: 30px;
  }
}