
/* third */
.third {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../img/buildings2.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'NanumSquare';
}

.third .cover {
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}
.third .cover1 {
  height: 300px;
}
.third .cover1 .emptybox {
  width: 100%;
  height: 200px;
}
.third .cover1 .titlebox {
  width: 1000px;
  height: 100px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 10px;
}
.third .cover2 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third .cover2 .textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 5px;
}

.third .cover3 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third .cover3 .cover {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.third .cover3 .contentbox {
  width: 340px;
  height: 400px;
  background-size: cover;
  background-position: center;
  color: black;
  border-radius: 5px;
}

.third .cover3 .box1 {
  background-image: url("../img/back.png");
}
.third .cover3 .box2 {
  background-image: url("../img/back.png");
}
.third .cover3 .box3 {
  background-image: url("../img/back.png");
}
.third .cover3 .box1:hover,
.third .cover3 .box2:hover,
.third .cover3 .box3:hover{
  color: black;
  transform: translate(0, -15px);
  transition: all 0.3s;
  text-shadow: none;
}
.third .cover3 .text3 {
  height: 30px;
  margin: 30px 0 0 30px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 5px;
}

.third .cover3 .text4 {
  height: 30px;
  margin: 20px 0 0 30px;
  font-size: 16px;
  letter-spacing: 4px;
}
.third .cover3 .innerbox1 {
  margin-top: 20px;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: rgba(104, 104, 104, 0.3);  
}
.third .cover3 .innerbox1_in {
  margin: 15px;
}
.third .cover3 .boxcontent {
  left: 0;
  right: 0;
  margin: auto;
  height: 30px;
  font-size: 18px;
  letter-spacing: 3px;
}
.third .cover3 .innerbox2 {
  margin-top: 20px;
  height: 60px;
}



@media screen and (max-width : 1200px) { 
  .third {
    height: fit-content;
    padding-bottom: 100px;
  }
  .third .cover1 {
    height: fit-content;
  }
  .third .cover1 .titlebox {
    width: 90%;
  }
  
  .third .cover2 {
    height: 150px;
  }
  .third .cover2 .textbox {
    width: 90%;
  }
  .third .cover3 {
    width: 90%;
    height: fit-content;
  }
  .third .cover3 .cover {
    width: 90%;
    flex-wrap: wrap;
  }
  .third .cover3 .contentbox {
    margin-top: 20px;
  }
  

}   


@media screen and (max-width : 768px) { 
  .third .cover {
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
  }
  .third .cover1 .titlebox {
    width: 300px;
    font-size: 40px;
  }
  .third .cover2 .textbox {
    width: 300px;
    line-height: 30px;
  }
  .third .cover3 .textbox {
    width: 300px;
    line-height: 30px;
  }
  .third .cover3 .text3 {
    font-size: 30px;
  }

}
