.footer {
  position: relative;
  height: 250px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .cover {
  left: 0;
  right: 0;
  margin: auto;
  width: 1400px;
  display: flex;
}
.footer .box {
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  opacity: 0.7;
}
.footer .box_box1 {
  width: 100%;
  height: 50px;
}
.footer .box_image img {
  display: inline-block;
  width: 180px;
  cursor: pointer;
}
.footer .box_image img:hover {
  opacity: 0.5;
}
.footer .box_box2 {
  width: 100%;
  height: 20px;
  color: rgb(3, 3, 3);
  font-size: 14px;
  display: flex;
}
.footer .box_box2_text1 {
  width: 100px;
  height: 20px;
  font-weight: 700;
}
.footer .box_box2_text2 {
  width: 400px;
  height: 20px;
}
.footer .box .bottom {
  margin-bottom: 5px;
}

.footer .box_box3 {
  width: 100%;
  height: 150px;
  display: flex;
  margin-top: 10px;
}
.footer .box_innerbox1 {
  width: 220px;
  height: 150px;
}
.footer .box_innerbox2 {
  width: 280px;
  height: 150px;
}
.footer .box_box3_text1 {
  width: 200px;
  height: 50px;
  color: #333;
  font-size: 30px;
  font-weight: 700;
}
.footer .box_box3_text2 {
  width: 200px;
  height: 100px;
  font-size: 43px;
  
}
.footer .box_box3_text3 {
  width: 300px;
  height: 25px;
  display: flex;
}
.footer .box_box3_text3_left {
  width: 80px;
  font-weight: 600;
}
.footer .box_box3_text3_right {
  width: 220px;
}

@media screen and (max-width : 1200px) { 
  .footer {
    height: 100%;
    overflow: hidden;
  }
  .footer .cover {
    height: 400px;
    display: flex;
    flex-direction: column;
  }
}  

@media screen and (max-width : 768px) { 
  .footer {
    height: 100%;
    overflow: hidden;
  }
  .footer .cover {
    height: 700px;
    display: flex;
    flex-direction: column;
  }
  .footer .box {
    width: 300px;
    height: 300px;
  }
  .footer .box_box2 {
    display: block;
    height: 45px;
  }
  .footer .box .bottom {
    margin-bottom: 15px;
  }
  .footer .box_box2_text1 {
    height: 30px;
  }
  .footer .box_box2_text2 {
    width: 300px;
    height: 30px;
  }
  .footer .box_box3 {
    display: block;
    height: 100px;
    
  }
}  