.ft {
  position: relative;
  height: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.ft .ft_cov {
  left: 0;
  right: 0;
  margin: auto;
  width: 1400px;
  display: flex;
  
}
.ft .ft_cov .ft_b {
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
}
.ft .ft_cov .ft_b .b_b1 {
  width: 100%;
  height: 50px;
}
.ft .ft_cov .ft_b .b_image img {
  display: inline-block;
  width: 180px;
  cursor: pointer;
}
.ft .ft_cov .ft_b .b_image img:hover {
  opacity: 0.5;
}
.ft .ft_cov .ft_b .b_b2 {
  width: 100%;
  height: 25px;
  color: rgb(3, 3, 3);
  font-size: 14px;
  display: flex;
}
.ft .ft_cov .ft_b .b_b2_t1 {
  width: 100px;
  height: 20px;
  font-weight: 700;
}
.ft .ft_cov .ft_b .b_b2_t2 {
  width: 500px;
  height: 20px;
}
.ft .ft_cov .ft_b .b .bottom {
  margin-bottom: 5px;
}


.ft .ft_cov .ft_b .b_b3 {
  width: 100%;
  height: 95px;
}
.ft .ft_cov .ft_b .b_b3 .b_b3_t1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.ft .ft_cov .ft_b .b_b3 .b_b3_t2 {
  font-size: 50px;
  font-weight: 600;
}



.ft .ft_cov .ft_b .b_b4 {
  width: 100%;
  height: 80px;
}
.ft .ft_cov .ft_b .b_b4 .b_b4_t3 {
  display: flex;
  margin-bottom: 10px;
}
.ft .ft_cov .ft_b .b_b4 .b_b4_t3 .b_b4_t3_t {
  display: flex;
}
.ft .ft_cov .ft_b .b_b4 .b_b4_t3 .name {
  width: 70px;
  font-weight: 600;
}
.ft .ft_cov .ft_b .b_b4 .b_b4_t3 .bar {
  width: 20px;
}
.ft .ft_cov .ft_b .b_b4 .b_b4_t3 .content {
  width: 200px;
}
.ft .ft_cov .ft_b .b_b4 .b_b4_t3 .name2 {
  width: 50px;
  font-weight: 600;
}


@media screen and (max-width : 1200px) { 
  .ft {
    height: 1000px;
    overflow: hidden;
  }
  .ft .ft_cov {
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}  

@media screen and (max-width : 768px) { 
  .ft {
    height: fit-content;
    overflow: hidden;
  }
  .ft .ft_cov {
    height: 900px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .ft .ft_cov .ft_b {
    width: 350px;
    height: 400px;
  }
  .ft .ft_cov .ft_b .b_b1 {
    height: 70px;
  }
  .ft .ft_cov .ft_b .b_b2 {
    display: block;
    height: 60px;
  }
  .ft .ft_cov .ft_b .bottom {
    margin-bottom: 20px;
  }
  .ft .ft_cov .ft_b .b_b2_t1 {
    height: 25px;
  }
  .ft .ft_cov .ft_b .b_b2_t2 {
    width: 320px;
    line-height: 25px;
  }
  .ft .ft_cov .ft_b .b_b4 .bottom {
    flex-direction: column;
  }
  .ft .ft_cov .ft_b .b_b4 .bottom .b_b4_t3_t {
    height: 13px;
  }
  .ft .ft_cov .ft_b .b_b4 .bottom .bar {
    display: none;
  }
}  